*{
    box-sizing: border-box;
    padding: 4px;
}
 #start{
    margin-left: 30%;
    width: fit-content;
} 
h1{
    margin-left: 30px;
}
.box1{
    border: 5px solid black;
    width: 150px;
    height: 150px;
    background-color: brown;
    display: inline-block;
    margin: 30px;
}
.box2{
    border: 4px dashed black;
    width: 150px;
    height: 150px;
    background-color: brown;
    display: inline-block;
    margin-left: 55px;
    margin-bottom: 30px;
}
.box3{
    border: 3px dashed black;
    width: 150px;
    height: 150px;
    background-color: brown;
    margin: 30px;
    display: inline-block;
}
.box4{
    width: 140px;
    height: 140px;
    background-color: brown;
    display: inline-block;
    margin-left: 55px;
    margin-bottom: 30px;
}
.box5{
   background-color: indigo;
}

.para{
    color: white;
    font-size: larger;
    overflow: hidden;
    padding: 18px 15px;
    width: 600px;
    height: 700px;
    background-color: rgba(241, 60, 60, 0.945);
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 30px;
    border-top: 30px solid blue;
    border-left: 30px solid green;
    border-right: 30px solid gray;
    border-bottom: 30px solid yellow;
    
}
